
.slider-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySwiper {
  width: 100%;
  max-width: 600px;
  height: 300px;
}

.swiper-slide {
  background: #fff;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.swiper-slide img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.swiper-slide-active {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .mySwiper {
    height: 200px;
  }
}

@media (max-width: 480px) {
  .mySwiper {
    height: 150px;
  }

  .swiper-slide img {
    width: 100%;
    height: auto;
  }
}


.slider-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySwiper {
  width: 100%;
  max-width: 600px;
  height: 300px;
}

.swiper-slide {
  background: #fff;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.swiper-slide img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.swiper-slide-active {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .mySwiper {
    height: 200px;
  }
}

@media (max-width: 480px) {
  .mySwiper {
    height: 150px;
  }

  .swiper-slide img {
    width: 100%;
    height: auto;
  }
}
